<?xml version="1.0" encoding="UTF-8"?>
<mappings xmlns="http://dozer.sourceforge.net" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://dozer.sourceforge.net
          http://dozer.sourceforge.net/schema/beanmapping.xsd">

    <configuration>
        <date-format>yyyy-MM-dd HH:mm:ss</date-format>
    </configuration>

    <!--商品DO VO转换-->
    <mapping>
        <class-a>com.bootdo.fanfan.domain.CommodityWidthExtendDO</class-a>
        <class-b>com.bootdo.fanfan.vo.APICommoditySimpleVO</class-b>
        <field>
            <a>commodityTitle</a>
            <b>title</b>
        </field>

        <field>
            <a>commodityImg</a>
            <b>icon</b>
        </field>

        <field>
            <a>commodityPrice</a>
            <b>price</b>
        </field>
        <field>
            <a>commodityUnit</a>
            <b>unit</b>
        </field>
        <field>
            <a>commoditySalePrice</a>
            <b>salePrice</b>
        </field>
        <field>
            <a>commodityRemark</a>
            <b>desc</b>
        </field>
    </mapping>

    <!--商品DO VO转换-->
    <mapping>
        <class-a>com.bootdo.fanfan.domain.CommodityWidthExtendDO</class-a>
        <class-b>com.bootdo.fanfan.vo.APICommodityVO</class-b>
        <field>
            <a>commodityTitle</a>
            <b>title</b>
        </field>

        <field>
            <a>commodityImg</a>
            <b>icon</b>
        </field>

        <field>
            <a>commodityPrice</a>
            <b>price</b>
        </field>

        <field>
            <a>commodityUnit</a>
            <b>unit</b>
        </field>

        <field>
            <a>commoditySalePrice</a>
            <b>salePrice</b>
        </field>

        <field>
            <a>commodityPackagePrice</a>
            <b>packagePrice</b>
        </field>

        <field>
            <a>commodityRemark</a>
            <b>desc</b>
        </field>

        <field>
            <a>commodityFiexNum</a>
            <b>inventory</b>
        </field>
        <field>
            <a>commodityType</a>
            <b>saleType</b>
        </field>

    </mapping>
    <!--商品DO VO转换-->
    <mapping>
        <class-a>com.bootdo.fanfan.domain.CommodityDO</class-a>
        <class-b>com.bootdo.fanfan.vo.APICommodityVO</class-b>
        <field>
            <a>commodityTitle</a>
            <b>title</b>
        </field>

        <field>
            <a>commodityImg</a>
            <b>icon</b>
        </field>

        <field>
            <a>commodityPrice</a>
            <b>price</b>
        </field>

        <field>
            <a>commodityUnit</a>
            <b>unit</b>
        </field>

        <field>
            <a>commoditySalePrice</a>
            <b>salePrice</b>
        </field>

        <field>
            <a>commodityPackagePrice</a>
            <b>packagePrice</b>
        </field>

        <field>
            <a>commodityRemark</a>
            <b>desc</b>
        </field>

        <field>
            <a>commodityFiexNum</a>
            <b>inventory</b>
        </field>
        <field>
            <a>commodityType</a>
            <b>saleType</b>
        </field>

    </mapping>

    <!--商品扩展DO VO转换-->
    <mapping>
        <class-a>com.bootdo.fanfan.domain.CommodityExtendDO</class-a>
        <class-b>com.bootdo.fanfan.vo.APICommodityExtendVO</class-b>
    </mapping>

    <!--商品DO VO转换-->
    <mapping>
        <class-a>com.bootdo.fanfan.domain.CommodityDO</class-a>
        <class-b>com.bootdo.fanfan.vo.APICommodityRecommendVO</class-b>
        <field>
            <a>commodityTitle</a>
            <b>title</b>
        </field>

        <field>
            <a>commodityImg</a>
            <b>icon</b>
        </field>

        <field>
            <a>commoditySalePrice</a>
            <b>salePrice</b>
        </field>
    </mapping>

    <!-- 支付宝用户信息转换-->
    <mapping>
            <class-a>com.alipay.api.response.AlipayUserInfoShareResponse</class-a>
            <class-b>com.bootdo.fanfan.domain.TpUserDO</class-b>
            <field>
                <a>nickName</a>
                <b>tpNick</b>
            </field>
            <field>
                <a>avatar</a>
                <b>tpIcon</b>
            </field>
        <field>
            <a>province</a>
            <b>tpProvince</b>
        </field>
        <field>
            <a>city</a>
            <b>tpCity</b>
        </field>
        <field>
            <a>userId</a>
            <b>tpId</b>
        </field>
        
    </mapping>
    
    <!--UserDO 转TPUserDO-->
    <mapping>
        <class-a>com.bootdo.fanfan.domain.TpUserDO</class-a>
        <class-b>com.bootdo.fanfan.domain.UserDO</class-b>
        <field>
            <a>tpNick</a>
            <b>userNick</b>
        </field>
        <field>
            <a>tpIcon</a>
            <b>userIcon</b>
        </field>
        <field>
            <a>tpSex</a>
            <b>userSex</b>
        </field>
        <field>
            <a>userId</a>
            <b>id</b>
        </field>
    </mapping>

    <!--订单数据转换 -->
    <mapping>
        <class-a>com.alipay.api.response.AlipayTradeQueryResponse</class-a>
        <class-b>com.bootdo.fanfan.domain.AlipayRecordDO</class-b>
    </mapping>

</mappings>