<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar">
						<div class="columns pull-left">
							<button shiro:hasPermission="fanfan:qrcode:add" type="button" class="btn  btn-primary" onclick="add()">
								<i class="fa fa-plus" aria-hidden="true"></i>添加
							</button>
							<button shiro:hasPermission="fanfan:qrcode:batchRemove" type="button" class="btn  btn-danger"
								onclick="batchRemove()">
								<i class="fa fa-trash" aria-hidden="true"></i>删除
							</button>
							<button  type="button" class="btn  btn-primary" onclick="downAll()">
								<i class="fa fa-plus" aria-hidden="true"></i>下载二维码
							</button>
						</div>
						<div class="columns pull-right">
							<button class="btn btn-success" onclick="reLoad()">查询</button>
						</div>
						<div class="columns pull-right col-md-2 nopadding">
							<input id="searchName" type="text" class="form-control"
								placeholder="">
						</div>
					</div>
					<table id="exampleTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	</div>
	<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
				var s_resetPwd_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="fanfan:qrcode:edit">
			<script type="text/javascript">
				s_edit_h = '';
			</script>
		</div>
		<div shiro:hasPermission="fanfan:qrcode:remove">
			<script type="text/javascript">
				var s_remove_h = '';
			</script>
		</div>
		<div shiro:hasPermission="fanfan:qrcode:resetPwd">
			<script type="text/javascript">
				var s_resetPwd_h = '';
			</script>
		</div>
	</div>
	<div th:include="include :: footer"></div>

	<script type="text/html" id="temp-items">
		<div style="width: 510px;overflow: hidden;position: relative;height: 510px;" id="div-img-html">
			<img src="/img/img_back_code.png" height="510" width="510"/>
			<div style="position: absolute;z-index: 1;background: red;width: 231px;height: 233px; top: 160px;left: 40px;overflow: hidden;">
				<img src="/img/img_code.png" id="img-code" style="width: 250px;position: absolute;top: -8px;left: -8px;"/>
			</div>
			<img src="/img/img_code_icon.png"style="width: 48px;position: absolute;z-index: 2;top: 255px;left: 132.5px;"/>
		</div>
	</script>
	<!--下载图片 -->
	<a href="" download="canvas_love.png" id="a-save-img" ></a>
        <script type="text/javascript" src="/js/appjs/fanfan/qrcode/qrcode.js"></script>
    </body>
    </html>