<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.fanfan.dao.CommodityDao">

	<resultMap id="CommodityResultMap" type="com.bootdo.fanfan.domain.CommodityWidthExtendDO">
		<collection property="extendList" select="queryExtendDetail" ofType="com.bootdo.fanfan.domain.CommodityExtendDO" column="commodityId={id}" />
	</resultMap>
	<resultMap id="ExtendResultMap" type="com.bootdo.fanfan.domain.CommodityExtendDO"></resultMap>

	<select id="get" resultType="com.bootdo.fanfan.domain.CommodityDO">
		select `id`,`category_id`,`commodity_title`,`commodity_img`,`commodity_price`,`commodity_sale_price`,`commodity_remark`,`commodity_fiex_num`,`commodity_package_price`,`commodity_unit`,`status`,`create_time`,`customer_id`,`order`,`commodity_type`,`delete`,`must_order` from ff_commodity where id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.fanfan.domain.CommodityDO">
		select `id`,`category_id`,`commodity_title`,`commodity_img`,`commodity_price`,`commodity_sale_price`,`commodity_remark`,`commodity_fiex_num`,`commodity_unit`,`status`,`create_time`,`customer_id`,`order`,`commodity_type`,`delete`,`must_order` from ff_commodity
        <where> `delete` = 0
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="commodityTitle != null and commodityTitle != ''"> and commodity_title = #{commodityTitle} </if>
		  		  <if test="commodityImg != null and commodityImg != ''"> and commodity_img = #{commodityImg} </if>
		  		  <if test="commodityPrice != null and commodityPrice != ''"> and commodity_price = #{commodityPrice} </if>
		  		  <if test="commoditySalePrice != null and commoditySalePrice != ''"> and commodity_sale_price = #{commoditySalePrice} </if>
		  		  <if test="commodityRemark != null and commodityRemark != ''"> and commodity_remark = #{commodityRemark} </if>
		  		  <if test="commodityFiexNum != null and commodityFiexNum != ''"> and commodity_fiex_num = #{commodityFiexNum} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="customerId != null and customerId != ''"> and customer_id = #{customerId} </if>
		  		  <if test="commodityType != null and commodityType != ''"> and commodity_type = #{commodityType} </if>
				  <if test="categoryId != null and categoryId != ''"> and category_id = #{categoryId} </if>
	  </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from ff_commodity
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="commodityTitle != null and commodityTitle != ''"> and commodity_title = #{commodityTitle} </if>
		  		  <if test="commodityImg != null and commodityImg != ''"> and commodity_img = #{commodityImg} </if>
		  		  <if test="commodityPrice != null and commodityPrice != ''"> and commodity_price = #{commodityPrice} </if>
		  		  <if test="commoditySalePrice != null and commoditySalePrice != ''"> and commodity_sale_price = #{commoditySalePrice} </if>
		  		  <if test="commodityRemark != null and commodityRemark != ''"> and commodity_remark = #{commodityRemark} </if>
		  		  <if test="commodityFiexNum != null and commodityFiexNum != ''"> and commodity_fiex_num = #{commodityFiexNum} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="customerId != null and customerId != ''"> and customer_id = #{customerId} </if>
		  		  <if test="commodityType != null and commodityType != ''"> and commodity_type = #{commodityType} </if>
		  		  <if test="delete != null"> and `delete` = #{delete} </if>
			  	  <if test="categoryId != null and categoryId != ''"> and category_id = #{categoryId} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.fanfan.domain.CommodityDO" useGeneratedKeys="true" keyProperty="id">
		insert into ff_commodity
		(
			`category_id`,
			`commodity_title`, 
			`commodity_img`, 
			`commodity_price`, 
			`commodity_sale_price`, 
			`commodity_remark`, 
			`commodity_fiex_num`,
			`commodity_package_price`,
			`commodity_unit`,
			`status`, 
			`create_time`, 
			`customer_id`,
			`order`, 
			`commodity_type`, 
			`delete`,
			`must_order`
		)
		values
		(
			#{categoryId},
			#{commodityTitle},
			#{commodityImg},
			#{commodityPrice},
			#{commoditySalePrice},
			#{commodityRemark},
			#{commodityFiexNum},
			#{commodityPackagePrice},
			#{commodityUnit},
			#{status}, 
			#{createTime}, 
			#{customerId},
			#{order}, 
			#{commodityType},
			#{delete},
			#{mustOrder}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.fanfan.domain.CommodityDO">
		update ff_commodity 
		<set>
			<if test="categoryId != null">`category_id` = #{categoryId}, </if>
			<if test="commodityTitle != null">`commodity_title` = #{commodityTitle}, </if>
			<if test="commodityImg != null">`commodity_img` = #{commodityImg}, </if>
			<if test="commodityPrice != null">`commodity_price` = #{commodityPrice}, </if>
			<if test="commoditySalePrice != null">`commodity_sale_price` = #{commoditySalePrice}, </if>
			<if test="commodityRemark != null">`commodity_remark` = #{commodityRemark}, </if>
			<if test="commodityFiexNum != null">`commodity_fiex_num` = #{commodityFiexNum}, </if>
			<if test="commodityPackagePrice != null">`commodity_package_price` = #{commodityPackagePrice}, </if>
			<if test="commodityUnit != null">`commodity_unit` = #{commodityUnit}, </if>
			<if test="status != null">`status` = #{status}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="customerId != null">`customer_id` = #{customerId}, </if>
			<if test="order != null">`order` = #{order}, </if>
			<if test="commodityType != null">`commodity_type` = #{commodityType}, </if>
			<if test="delete != null">`delete` = #{delete},</if>
			<if test="mustOrder != null">`must_order` = #{mustOrder} </if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		update ff_commodity set delete=1 where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from ff_commodity where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

	<select id="queryExtends" resultMap="CommodityResultMap">
		SELECT `id`,`category_id`,`commodity_title`,`commodity_img`,`commodity_price`,`commodity_sale_price`,`commodity_remark`,`commodity_fiex_num`,`commodity_package_price`,`commodity_unit`,`status`,`customer_id`,`order`,`commodity_type`,`must_order` from ff_commodity
		WHERE  `delete` = 0
		<if test="customerId != null and customerId != ''"> and customer_id = #{customerId} </if>
		<if test="idArray !=null and idArray !=''"> and `id` in(${idArray})</if>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
		</choose>
	</select>

	<select id="queryExtendDetail" resultMap="ExtendResultMap">
		select `id`,`commodity_price`,`type`,`commodity_id`,`title` from ff_commodity_extend where `delete` = 0 AND commodity_id = #{commodityId} order by create_time asc
	</select>
	
</mapper>