<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.fanfan.dao.DeskDao">

	<select id="get" resultType="com.bootdo.fanfan.domain.DeskDO">
		select `id`,`title`,`customer_id` from ff_desk where id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.fanfan.domain.DeskDO">
		select `id`,`title`,`customer_id` from ff_desk
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="title != null and title != ''"> and title = #{title} </if>
		  		  <if test="customerId != null and customerId != ''"> and customer_id = #{customerId} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from ff_desk
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="title != null and title != ''"> and title = #{title} </if>
		  		  <if test="customerId != null and customerId != ''"> and customer_id = #{customerId} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.fanfan.domain.DeskDO" useGeneratedKeys="true" keyProperty="id">
		insert into ff_desk
		(
			`title`, 
			`customer_id`
		)
		values
		(
			#{title}, 
			#{customerId}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.fanfan.domain.DeskDO">
		update ff_desk 
		<set>
			<if test="title != null">`title` = #{title}, </if>
			<if test="customerId != null">`customer_id` = #{customerId}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from ff_desk where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from ff_desk where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>