<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.fanfan.dao.OrderDao">

	<select id="get" resultType="com.bootdo.fanfan.domain.OrderDO">
		select `id`,`user_id`,`order_num`,`order_date_num`,`order_desk_num`,`order_state`,`order_total`,`order_pay`,`order_discount_total`,`order_commodity_total`,`order_pay_type`,`order_meals_num`,`order_remark`,`order_invoice`,`order_time`,`customer_id`,`create_time` from ff_order where id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.fanfan.domain.OrderDO">
		SELECT  tab_order.*,tab_user.user_nick from (
			select `id`,`user_id`,`order_num`,`order_date_num`,`order_desk_num`,`order_state`,`order_total`,`order_pay`,`order_discount_total`,`order_commodity_total`,`order_pay_type`,`order_meals_num`,`order_remark`,`order_time`,`order_invoice`,`customer_id`,`create_time` from ff_order
			<where>
					  <if test="id != null and id != ''"> and id = #{id} </if>
				      <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
					  <if test="orderNum != null and orderNum != ''"> and order_num = #{orderNum} </if>
					  <if test="orderDateNum != null and orderDateNum != ''"> and order_date_num = #{orderDateNum} </if>
					  <if test="orderDeskNum != null and orderDeskNum != ''"> and order_desk_num = #{orderDeskNum} </if>
					  <if test="orderState != null and orderState != ''"> and order_state = #{orderState} </if>
					  <if test="orderTotal != null and orderTotal != ''"> and order_total = #{orderTotal} </if>
					  <if test="orderPay != null and orderPay != ''"> and order_pay = #{orderPay} </if>
					  <if test="orderDiscountTotal != null and orderDiscountTotal != ''"> and order_discount_total = #{orderDiscountTotal} </if>
					  <if test="orderCommodityTotal != null and orderCommodityTotal != ''"> and order_commodity_total = #{orderCommodityTotal} </if>
					  <if test="orderPayType != null and orderPayType != ''"> and order_pay_type = #{orderPayType} </if>
					  <if test="orderMealsNum != null and orderMealsNum != ''"> and order_meals_num = #{orderMealsNum} </if>
					  <if test="orderRemark != null and orderRemark != ''"> and order_remark = #{orderRemark} </if>
					  <if test="orderInvoice != null and orderInvoice != ''"> and order_invoice = #{orderInvoice} </if>
					  <if test="orderTime != null and orderTime != ''"> and order_time = #{orderTime} </if>
					  <if test="customerId != null and customerId != ''"> and customer_id = #{customerId} </if>
					  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
			 </where>
			<choose>
				<when test="sort != null and sort.trim() != ''">
					order by ${sort} ${order}
				</when>
				<otherwise>
					order by id desc
				</otherwise>
			</choose>
			<if test="offset != null and limit != null">
				limit #{offset}, #{limit}
			</if>
		) as tab_order
		JOIN ff_user as tab_user
		ON tab_order.user_id = tab_user.id
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from ff_order
		 <where>
			 <if test="id != null and id != ''"> and id = #{id} </if>
			 <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
			 <if test="orderNum != null and orderNum != ''"> and order_num = #{orderNum} </if>
			 <if test="orderDateNum != null and orderDateNum != ''"> and order_date_num = #{orderDateNum} </if>
			 <if test="orderDeskNum != null and orderDeskNum != ''"> and order_desk_num = #{orderDeskNum} </if>
			 <if test="orderState != null and orderState != ''"> and order_state = #{orderState} </if>
			 <if test="orderTotal != null and orderTotal != ''"> and order_total = #{orderTotal} </if>
			 <if test="orderPay != null and orderPay != ''"> and order_pay = #{orderPay} </if>
			 <if test="orderDiscountTotal != null and orderDiscountTotal != ''"> and order_discount_total = #{orderDiscountTotal} </if>
			 <if test="orderCommodityTotal != null and orderCommodityTotal != ''"> and order_commodity_total = #{orderCommodityTotal} </if>
			 <if test="orderPayType != null and orderPayType != ''"> and order_pay_type = #{orderPayType} </if>
			 <if test="orderMealsNum != null and orderMealsNum != ''"> and order_meals_num = #{orderMealsNum} </if>
			 <if test="orderRemark != null and orderRemark != ''"> and order_remark = #{orderRemark} </if>
			 <if test="orderInvoice != null and orderInvoice != ''"> and order_invoice = #{orderInvoice} </if>
			 <if test="orderTime != null and orderTime != ''"> and order_time = #{orderTime} </if>
			 <if test="customerId != null and customerId != ''"> and customer_id = #{customerId} </if>
			 <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		</where>
	</select>

	<insert id="save" parameterType="com.bootdo.fanfan.domain.OrderDO" useGeneratedKeys="true" keyProperty="id">
		insert into ff_order
		(
			`user_id`,
			`order_num`,
			`order_date_num`,
			`order_desk_num`,
			`order_state`,
			`order_total`,
			`order_pay`,
			`order_discount_total`,
			`order_commodity_total`,
			`order_pay_type`,
			`order_meals_num`,
			`order_remark`,
			`order_invoice`,
			`order_time`,
			`customer_id`,
			`create_time`
		)
		values
		(
			#{userId},
			#{orderNum},
			#{orderDateNum},
			#{orderDeskNum},
			#{orderState},
			#{orderTotal},
			#{orderPay},
			#{orderDiscountTotal},
			#{orderCommodityTotal},
			#{orderPayType},
			#{orderMealsNum},
			#{orderRemark},
			#{orderInvoice},
			#{orderTime},
			#{customerId},
			#{createTime}
		)
	</insert>

	<update id="update" parameterType="com.bootdo.fanfan.domain.OrderDO">
		update ff_order
		<set>
			<if test="userId != null">`user_id` = #{userId}, </if>
			<if test="orderNum != null">`order_num` = #{orderNum}, </if>
			<if test="orderDateNum != null">`order_date_num` = #{orderDateNum}, </if>
			<if test="orderDeskNum != null">`order_desk_num` = #{orderDeskNum}, </if>
			<if test="orderState != null">`order_state` = #{orderState}, </if>
			<if test="orderTotal != null">`order_total` = #{orderTotal}, </if>
			<if test="orderPay != null">`order_pay` = #{orderPay}, </if>
			<if test="orderDiscountTotal != null">`order_discount_total` = #{orderDiscountTotal}, </if>
			<if test="orderCommodityTotal != null">`order_commodity_total` = #{orderCommodityTotal}, </if>
			<if test="orderPayType != null">`order_pay_type` = #{orderPayType}, </if>
			<if test="orderMealsNum != null">`order_meals_num` = #{orderMealsNum}, </if>
			<if test="orderRemark != null">`order_remark` = #{orderRemark}, </if>
			<if test="orderInvoice != null">`order_invoice` = #{orderInvoice}, </if>
			<if test="orderTime != null">`order_time` = #{orderTime}, </if>
			<if test="customerId != null">`customer_id` = #{customerId}, </if>
			<if test="createTime != null">`create_time` = #{createTime}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from ff_order where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from ff_order where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

	<select id="queryOrderByUser" resultType="com.bootdo.fanfan.vo.APIOrderListVO">
		select A.id, A.`order_num`,A.`order_state`,A.`order_pay`,A.`order_commodity_total` as `commodity_total`,B.`out_title` as `title`,A.`create_time`,C.commodit_img,A.`order_date_num`    from
		(select `id`,`order_num`,`order_state`,`order_pay`,`order_commodity_total`,`create_time`,`order_date_num` from ff_order
		<where>
			order_state!=101
			<if test="userId != null and userId != ''"> AND user_id = #{userId} </if>
			<if test="customerId != null and customerId != ''"> AND customer_id = #{customerId} </if>
			<if test="orderState !=null and orderState.size>0">
				AND order_state IN
				<foreach collection="orderState" open="(" close=")" item="item" separator=",">
					#{item}
				</foreach>
			</if>
		</where>
	    order by `create_time` desc
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
		) as A
		LEFT JOIN ff_order_detial B on A.id  =  B.order_id and B.id=(select min(id) from ff_order_detial where order_id=A.id and out_type=1)
        LEFT JOIN ff_commodit C
        on C.id  = B.out_id
	</select>

	<select id="getStateById">
		select id,order_state from ff_order where id in
		<foreach collection="idArray" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</select>

	<select id="queryOrderByCustomer" resultType="com.bootdo.fanfan.vo.APIOrderListCustomerVO">
		SELECT a.id,a.order_num,a.order_state,a.order_total,a.order_pay,a.order_date_num,a.order_desk_num,a.order_time,b.user_nick,b.user_icon from ff_order  as a
		left JOIN ff_user as b
		on a.user_id = b.id
		where  a.customer_id=#{customerId}
		and a.order_time BETWEEN #{startTime} and #{endTime}
		<if test="lastId>=0">
			<if test="isMax==true">
				AND a.id &gt; #{lastId}
			</if>
			<if test="isMax==false">
				AND a.id &lt; #{lastId}
			</if>
		</if>
		ORDER BY a.id DESC
	</select>

</mapper>