<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.fanfan.dao.ReceiverDao">

	<select id="get" resultType="com.bootdo.fanfan.domain.ReceiverDO">
		select `id`,`user_id`,`tel`,`name`,`sex`,`district`,`street`,`detail`,`lat`,`lng`,`delete` from ff_receiver where id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.fanfan.domain.ReceiverDO">
		select `id`,`user_id`,`tel`,`name`,`sex`,`district`,`street`,`detail`,`lat`,`lng`,`delete` from ff_receiver
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
		  		  <if test="tel != null and tel != ''"> and tel = #{tel} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="sex != null and sex != ''"> and sex = #{sex} </if>
		  		  <if test="district != null and district != ''"> and district = #{district} </if>
		  		  <if test="street != null and street != ''"> and street = #{street} </if>
		  		  <if test="detail != null and detail != ''"> and detail = #{detail} </if>
		  		  <if test="lat != null and lat != ''"> and lat = #{lat} </if>
		  		  <if test="lng != null and lng != ''"> and lng = #{lng} </if>
		  		  <if test="delete != null and delete != ''"> and delete = #{delete} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from ff_receiver
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
		  		  <if test="tel != null and tel != ''"> and tel = #{tel} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="sex != null and sex != ''"> and sex = #{sex} </if>
		  		  <if test="district != null and district != ''"> and district = #{district} </if>
		  		  <if test="street != null and street != ''"> and street = #{street} </if>
		  		  <if test="detail != null and detail != ''"> and detail = #{detail} </if>
		  		  <if test="lat != null and lat != ''"> and lat = #{lat} </if>
		  		  <if test="lng != null and lng != ''"> and lng = #{lng} </if>
		  		  <if test="delete != null and delete != ''"> and delete = #{delete} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.fanfan.domain.ReceiverDO" useGeneratedKeys="true" keyProperty="id">
		insert into ff_receiver
		(
			`user_id`, 
			`tel`, 
			`name`, 
			`sex`, 
			`district`, 
			`street`, 
			`detail`, 
			`lat`, 
			`lng`, 
			`delete`
		)
		values
		(
			#{userId}, 
			#{tel}, 
			#{name}, 
			#{sex}, 
			#{district}, 
			#{street}, 
			#{detail}, 
			#{lat}, 
			#{lng}, 
			#{delete}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.fanfan.domain.ReceiverDO">
		update ff_receiver 
		<set>
			<if test="userId != null">`user_id` = #{userId}, </if>
			<if test="tel != null">`tel` = #{tel}, </if>
			<if test="name != null">`name` = #{name}, </if>
			<if test="sex != null">`sex` = #{sex}, </if>
			<if test="district != null">`district` = #{district}, </if>
			<if test="street != null">`street` = #{street}, </if>
			<if test="detail != null">`detail` = #{detail}, </if>
			<if test="lat != null">`lat` = #{lat}, </if>
			<if test="lng != null">`lng` = #{lng}, </if>
			<if test="delete != null">`delete` = #{delete}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from ff_receiver where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from ff_receiver where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>