<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.fanfan.dao.FFUserDao">

	<select id="get" resultType="com.bootdo.fanfan.domain.UserDO">
		select `id`,`user_nick`,`user_mobile`,`user_icon`,`user_sex`,`user_state`,`delete`,`create_time` from ff_user where id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.fanfan.domain.UserDO">
		select `id`,`user_nick`,`user_mobile`,`user_icon`,`user_sex`,`user_state`,`delete`,`create_time` from ff_user
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="userNick != null and userNick != ''"> and user_nick = #{userNick} </if>
		  		  <if test="userMobile != null and userMobile != ''"> and user_mobile = #{userMobile} </if>
		  		  <if test="userIcon != null and userIcon != ''"> and user_icon = #{userIcon} </if>
		  		  <if test="userSex != null and userSex != ''"> and user_sex = #{userSex} </if>
		  		  <if test="userState != null and userState != ''"> and user_state = #{userState} </if>
		  		  <if test="delete != null and delete != ''"> and delete = #{delete} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from ff_user
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="userNick != null and userNick != ''"> and user_nick = #{userNick} </if>
		  		  <if test="userMobile != null and userMobile != ''"> and user_mobile = #{userMobile} </if>
		  		  <if test="userIcon != null and userIcon != ''"> and user_icon = #{userIcon} </if>
		  		  <if test="userSex != null and userSex != ''"> and user_sex = #{userSex} </if>
		  		  <if test="userState != null and userState != ''"> and user_state = #{userState} </if>
		  		  <if test="delete != null and delete != ''"> and delete = #{delete} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.fanfan.domain.UserDO" useGeneratedKeys="true" keyProperty="id">
		insert into ff_user
		(
			`user_nick`, 
			`user_mobile`, 
			`user_icon`, 
			`user_sex`, 
			`user_state`, 
			`delete`, 
			`create_time`
		)
		values
		(
			#{userNick}, 
			#{userMobile}, 
			#{userIcon}, 
			#{userSex}, 
			#{userState}, 
			#{delete}, 
			#{createTime}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.fanfan.domain.UserDO">
		update ff_user 
		<set>
			<if test="userNick != null">`user_nick` = #{userNick}, </if>
			<if test="userMobile != null">`user_mobile` = #{userMobile}, </if>
			<if test="userIcon != null">`user_icon` = #{userIcon}, </if>
			<if test="userSex != null">`user_sex` = #{userSex}, </if>
			<if test="userState != null">`user_state` = #{userState}, </if>
			<if test="delete != null">`delete` = #{delete}, </if>
			<if test="createTime != null">`create_time` = #{createTime}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from ff_user where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from ff_user where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>