<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="id" name="id" th:value="${authorize.id}"  type="hidden">
							<div class="form-group">	
								<label class="col-sm-3 control-label">认证状态：</label>
								<div class="col-sm-8">
									<input id="authorizeState" name="authorizeState" th:value="${authorize.authorizeState}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">审核状态：</label>
								<div class="col-sm-8">
									<input id="identificationState" name="identificationState" th:value="${authorize.identificationState}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">收款账号：</label>
								<div class="col-sm-8">
									<input id="payeeId" name="payeeId" th:value="${authorize.payeeId}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">收款人姓名：</label>
								<div class="col-sm-8">
									<input id="payeeName" name="payeeName" th:value="${authorize.payeeName}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">营业执照：</label>
								<div class="col-sm-8">
									<input id="businessLicensePhoto" name="businessLicensePhoto" th:value="${authorize.businessLicensePhoto}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">营业执照截止时间：</label>
								<div class="col-sm-8">
									<input id="businessLicenseDate" name="businessLicenseDate" th:value="${authorize.businessLicenseDate}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">身份证照：</label>
								<div class="col-sm-8">
									<input id="idCardPhoto" name="idCardPhoto" th:value="${authorize.idCardPhoto}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">店铺门面照：</label>
								<div class="col-sm-8">
									<input id="shopPhoto" name="shopPhoto" th:value="${authorize.shopPhoto}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">审核失败原因：</label>
								<div class="col-sm-8">
									<input id="failRemark" name="failRemark" th:value="${authorize.failRemark}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">认证成功地址：</label>
								<div class="col-sm-8">
									<input id="identificationUrl" name="identificationUrl" th:value="${authorize.identificationUrl}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">商户Id：</label>
								<div class="col-sm-8">
									<input id="customerId" name="customerId" th:value="${authorize.customerId}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">创建时间：</label>
								<div class="col-sm-8">
									<input id="createTime" name="createTime" th:value="${authorize.createTime}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">修改时间：</label>
								<div class="col-sm-8">
									<input id="modifyTime" name="modifyTime" th:value="${authorize.modifyTime}" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/fanfan/authorize/edit.js">
	</script>
</body>
</html>
